<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    <meta name="author" content="{{ .Site.Author.name }}"/>
    {{ .Hugo.Generator }}

    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .Site.Params.favicon }}<link href='{{ $.Site.BaseURL }}{{ . }}' rel='icon' type='image/x-icon'/>{{ end }}

    <style type="text/css">
        /*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

        .flex {
          display: flex;
        }
        .flex.items-center {
          align-items: center;
        }
        body{
          font-size: 32px;
          font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
          background-color: #ededf4;
          color: #4f4f4f;
          padding: 3rem;
          line-height: 1.8rem;
        }
        h1,h2,h3,h4,h5,h6,.brand-text{
          font-weight: 700;
          line-height: 3rem;
        }
        .header-wrapper {
          margin-top: 3rem;
          margin-bottom: 3rem;
        }
        .header {
          margin-bottom: 1rem;
        }
        .header a {
          font-weight: 700;
          font-size: 1.2rem;
          padding: 0 0.5rem;
          color: inherit;
        }
        .header .brand {
          padding: 0;
          text-decoration: none;
        }
        .brand-text {
          font-size: 3rem;
        }
        .brand-subtext {
          font-weight: 300;
          font-size: 1.8rem;
        }
        .nav {
          flex-grow: 1;
          justify-content: flex-end;
        }
        .container {
          padding: 4rem 10% 6rem 14%;
          width: 100%;
          background-color: #fefbfb;
        }
        .content-wrapper {
          max-width: 740px;
        }
        p {
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
        a {
          display: inline-block;
          font-size: 1.1rem;
          text-decoration: none;
          color: #1372b1;
          transition: color 0.5s ease-in-out;
        }
        a:hover {
          color: #1b567d;
        }
        a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #1b567d;
            transition: width .5s;
        }
        a:hover::after {
            width: 100%;
        }
        .second-title {
          font-size: 1.2rem;
          margin-top: 2rem;
          margin-bottom: 0.5rem;
        }
        .line {
            background-color: #4f4f4f;
            height: 2px;
            width: 40px;
            margin-bottom: 1rem;
        }
        .footer p {
          font-size: 1rem;
          padding: 4rem 2rem;
        }
        ul.social {
          margin-top: 5rem;
        }
        ul.social li {
            display: inline-block;
            margin-right: 20px;
        }
        .social-icon {
          fill: #4f4f4f;
        }
        a:hover .social-icon {
          fill: #1b567d;
        }
        .copyleft {
          display:inline-block;
          transform: rotateY(180deg);
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="preload" as="style" onload="this.rel='stylesheet'">
</head>
<body>
    
    
    <div class="container">

    {{ partial "header.html" . }}

        <div class="content-wrapper">
            <p>
                Hi! I'm Muhammad Saied, and I build websites using 
                <svg xmlns="http://www.w3.org/2000/svg" height="1.2rem" style="margin-bottom: -2px;height: 1.2rem;" viewBox="0 0 84.1 57.6"><path fill="#FB503B" d="M83.8 26.9c-.6-.6-8.3-10.3-9.6-11.9-1.4-1.6-2-1.3-2.9-1.2s-10.6 1.8-11.7 1.9c-1.1.2-1.8.6-1.1 1.6.6.9 7 9.9 8.4 12l-25.5 6.1L21.2 1.5c-.8-1.2-1-1.6-2.8-1.5C16.6.1 2.5 1.3 1.5 1.3c-1 .1-2.1.5-1.1 2.9S17.4 41 17.8 42c.4 1 1.6 2.6 4.3 2 2.8-.7 12.4-3.2 17.7-4.6 2.8 5 8.4 15.2 9.5 16.7 1.4 2 2.4 1.6 4.5 1 1.7-.5 26.2-9.3 27.3-9.8 1.1-.5 1.8-.8 1-1.9-.6-.8-7-9.5-10.4-14 2.3-.6 10.6-2.8 11.5-3.1 1-.3 1.2-.8.6-1.4zm-46.3 9.5c-.3.1-14.6 3.5-15.3 3.7-.8.2-.8.1-.8-.2-.2-.3-17-35.1-17.3-35.5-.2-.4-.2-.8 0-.8S17.6 2.4 18 2.4c.5 0 .4.1.6.4 0 0 18.7 32.3 19 32.8.4.5.2.7-.1.8zm40.2 7.5c.2.4.5.6-.3.8-.7.3-24.1 8.2-24.6 8.4-.5.2-.8.3-1.4-.6s-8.2-14-8.2-14L68.1 32c.6-.2.8-.3 1.2.3.4.7 8.2 11.3 8.4 11.6zm1.6-17.6c-.6.1-9.7 2.4-9.7 2.4l-7.5-10.2c-.2-.3-.4-.6.1-.7.5-.1 9-1.6 9.4-1.7.4-.1.7-.2 1.2.5.5.6 6.9 8.8 7.2 9.1.3.3-.1.5-.7.6z"></path></svg>
                <span style="color: #e74430">Laravel</span>
                and 
                <img src="/WordPress_logo.svg" style="margin-bottom: -2px;">
                <span style="color: #1372b1">Word</span>Press.
            </p>

            <p>
                If you are looking for someone to help you create your next big idea, shoot me an email and let's talk about it.
            </p>

            <h2 class="second-title">Get in touch</h2>
            <p>
                <a href="mailto:msaied93@gmail.com">
                    msaied93@gmail.com
                </a>
            </p>
            <ul class="social">
                <li>
                    <a href="https://www.twitter.com/msaied93">
                        <svg width="26" height="22" viewBox="0 0 26 22" xmlns="http://www.w3.org/2000/svg">
                            <path class="social-icon" d="M22.937 3.478c1.102-.686 1.947-1.775 2.344-3.07-1.03.636-2.17 1.097-3.387 1.346C20.923.674 19.535 0 18 0c-2.945 0-5.332 2.487-5.332 5.553 0 .436.044.86.136 1.265-4.432-.232-8.362-2.44-10.994-5.803-.46.823-.722 1.777-.722 2.794 0 1.924.942 3.624 2.373 4.622-.873-.028-1.696-.28-2.416-.694v.068c0 2.692 1.837 4.937 4.28 5.445-.448.132-.918.197-1.407.197-.343 0-.68-.033-1.002-.1.677 2.207 2.648 3.815 4.983 3.858-1.827 1.49-4.127 2.377-6.625 2.377-.43 0-.856-.024-1.273-.077C2.36 21.08 5.164 22 8.177 22c9.813 0 15.175-8.463 15.175-15.802 0-.24-.003-.48-.014-.718 1.043-.783 1.95-1.762 2.662-2.876-.957.442-1.985.74-3.063.874z" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com/msaied93">
                        <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                            <path class="social-icon" d="M13 0C5.82 0 0 5.82 0 13c0 5.744 3.725 10.616 8.89 12.335.65.12.888-.28.888-.626 0-.31-.01-1.127-.018-2.212-3.616.785-4.38-1.743-4.38-1.743-.59-1.502-1.442-1.902-1.442-1.902-1.18-.806.09-.79.09-.79 1.304.092 1.99 1.34 1.99 1.34 1.16 1.987 3.043 1.413 3.784 1.08.118-.84.454-1.413.825-1.737-2.887-.328-5.922-1.444-5.922-6.426 0-1.418.507-2.58 1.34-3.488-.135-.33-.58-1.65.126-3.44 0 0 1.092-.35 3.576 1.332 1.037-.288 2.15-.432 3.254-.438 1.105.006 2.217.15 3.255.438 2.482-1.682 3.57-1.332 3.57-1.332.71 1.79.265 3.11.13 3.44.834.908 1.337 2.07 1.337 3.488 0 4.995-3.04 6.094-5.935 6.415.466.402.882 1.195.882 2.408 0 1.737-.017 3.14-.017 3.566 0 .347.235.75.894.624C22.28 23.61 26 18.742 26 13c0-7.18-5.82-13-13-13" fill="#000" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/msaied93/">
                        <svg width="25" height="24" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
                            <path class="social-icon" d="M1.105 7.696h4.678v16.302H1.105V7.696zm2.22-2.04H3.29C1.6 5.657.5 4.41.5 2.833.5 1.222 1.63 0 3.357 0c1.726 0 2.787 1.22 2.82 2.828 0 1.578-1.094 2.83-2.852 2.83zM24.5 24h-5.304v-8.438c0-2.208-.83-3.714-2.655-3.714-1.394 0-2.17 1.016-2.532 1.998-.135.35-.114.84-.114 1.332V24H8.64s.067-14.946 0-16.304h5.254v2.558c.31-1.118 1.99-2.715 4.67-2.715 3.324 0 5.936 2.346 5.936 7.394V24z" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{ partial "footer.html" . }}
</body>
</html>
