/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

.flex {
  display: flex;
}
.flex.items-center {
  align-items: center;
}
body{
  font-size: 32px;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #ededf4;
  color: #4f4f4f;
  padding: 3rem;
  line-height: 1.8rem;
}
h1,h2,h3,h4,h5,h6,.brand-text{
  font-weight: 700;
  line-height: 3rem;
}
.header-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.header {
  margin-bottom: 1rem;
}
.header a {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  color: inherit;
}
.header .brand {
  padding: 0;
  text-decoration: none;
}
.brand-text {
  font-size: 3rem;
}
.brand-subtext {
  font-weight: 300;
  font-size: 1.8rem;
}
.nav {
  flex-grow: 1;
  justify-content: flex-end;
}
.container {
  padding: 4rem 10% 6rem 14%;
  width: 100%;
  background-color: #fefbfb;
}
.content-wrapper {
  max-width: 720px;
}
p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
a {
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #3498db;
  transition: color 0.5s ease-in-out;
}
a:hover {
  color: #1b567d;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1b567d;
    transition: width .5s;
}
a:hover::after {
    width: 100%;
}
.second-title {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.line {
    background-color: #4f4f4f;
    height: 2px;
    width: 40px;
    margin-bottom: 1rem;
}
.footer p {
  font-size: 1rem;
  padding: 4rem 2rem;
}
ul.social {
  margin-top: 5rem;
}
ul.social li {
    display: inline-block;
    margin-right: 20px;
}
.social-icon {
  fill: #4f4f4f;
}
a:hover .social-icon {
  fill: #1b567d;
}
.copyleft {
  display:inline-block;
  transform: rotateY(180deg);
}