<div class="header-wrapper">
    <div class="header">
        <a class="brand" href="/">
            <div class="brand-text">
                Muhammad Saied
            </div>
        </a>

<!--         <nav class="nav flex">
            <a href="#">Debian Handbook</a>
            <a href="#">Think Java</a>
        </nav> -->
    </div>

    <div class="brand-subtext flex items-center">
        <div class="flex items-center sm:mb-1">
            <img src="/elephant_1f418_120.png" 
                srcset="/elephant_1f418.png 2x"
                alt="Elephant on Twitter Twemoji 2.5" width="48" height="48">
            &ensp;PHP Web Developer
        </div>
    </div>
</div>
